
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJugadoresLabel" translate="ligaBasket01App.jugadores.home.createOrEditLabel">Create or edit a Jugadores</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="jugadores.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ligaBasket01App.jugadores.nombreJugador" for="field_nombreJugador">NombreJugador</label>
            <input type="text" class="form-control" name="nombreJugador" id="field_nombreJugador"
                    ng-model="jugadores.nombreJugador"
                    required />
            <div ng-show="editForm.nombreJugador.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombreJugador.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="ligaBasket01App.jugadores.fechaNacimiento" for="field_fechaNacimiento">FechaNacimiento</label>
            <input type="date" class="form-control" name="fechaNacimiento" id="field_fechaNacimiento"
                    ng-model="jugadores.fechaNacimiento"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ligaBasket01App.jugadores.numCanastas" for="field_numCanastas">NumCanastas</label>
            <input type="number" class="form-control" name="numCanastas" id="field_numCanastas"
                    ng-model="jugadores.numCanastas"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ligaBasket01App.jugadores.numAsistencias" for="field_numAsistencias">NumAsistencias</label>
            <input type="number" class="form-control" name="numAsistencias" id="field_numAsistencias"
                    ng-model="jugadores.numAsistencias"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ligaBasket01App.jugadores.numRebotes" for="field_numRebotes">NumRebotes</label>
            <input type="number" class="form-control" name="numRebotes" id="field_numRebotes"
                    ng-model="jugadores.numRebotes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ligaBasket01App.jugadores.posicion" for="field_posicion">Posicion</label>
            <input type="text" class="form-control" name="posicion" id="field_posicion"
                    ng-model="jugadores.posicion"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
